body {
  background-color: #e7f2f8;
}

/* navigation start */

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  max-height: 15vh;
  background-color: #54627b;
  padding: 5px;
}

.navLinkContainer {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
ul {
  list-style: none;
}

/* navigation end */

/* SignUp */

.signUpForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  max-height: 15vh;
  padding: 5px;
}

/* Footer start */
.footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ecd5bb;
  color: rgb(92, 30, 30);
  list-style: none;
  text-align: center;
  text-decoration: none;
}
.footer li {
  color: rgb(58, 28, 28);
  text-decoration: none;
}
.footerText {
  font-size: smaller;
}
/* Footer end */

/* Not Found */
.notFound {
  text-align: center;
}
.errMessage {
  color: red;
  /* text-decoration: double; */
}
.searchbtn {
  background-color: #710117;
  color: aliceblue;
}
